@{
    ViewData["Title"] = "Todo";
}

<div class="text-center">
    <h1 class="display-4">Your stored todo lists are going to be here</h1>
    <p>TEST TEST TEST</a>.</p>
</div>

<form method="get">
    <button asp-controller="User" asp-action="Index" class="btn btn-info">Back to Profile</button>
</form>
<br>
<form method="get">
    <button asp-controller="ListTemplate" asp-action="Index" class="btn btn-info">Click to View</button>
</form>
