@model one2Do.Models.ToDoModels.TaskItem

@{
    ViewData["Title"] = "Delete Task";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this task?</h3>
<div>
    <h4>@Model.Description</h4>
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ToDoListId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
