@using one2Do.Models
@model ListTemplate
@{

}

<h1> Available List Templates </h1>
<div>
    <p>
        <form asp-controller="HouseholdToDoList" asp-action="Create" method="post">
            <input type="submit" value="Household ToDo List" class="btn btn-info"/>
        </form>
    </p>
    <p>
        <form asp-controller="ProfessionalToDoList" asp-action="Create" method="post">
            <input type="submit" value="Professional ToDo List" class="btn btn-info"/>
        </form>
    </p>
    @* <p>
        <form asp-controller="PersonalToDoList" asp-action="Create" method="post">
            <input type="submit" value="Personal ToDo List" class="btn btn-primary"/>
        </form> *@
    @* </p> *@
    <p>
        <form asp-controller="ErrandsToDoList" asp-action="Create" method="post">
            <input type="submit" value="Errands ToDo List" class="btn btn-info"/>
        </form>
    </p>
</div>
 <form method = "get">
                <button asp-controller="user" asp-action="index" class="btn btn-info"> Back to Profile</button>
            </form>   
<br>        
    <form method = "get">
                <button asp-controller="user" asp-action="todo" class="btn btn-info"> Save</button>
            </form>   